body {
  background-color: #d4d4d4;
  padding-bottom: 64px;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 20px;
  max-width: 720px;
  margin: auto;

  h1 {
    font-size: 32px;
    font-family: 'Poppins';
  }

  h2 {
    font-size: 18px;
    font-family: 'Poppins';
  }

  p {
    font-family: 'Poppins';
    color: #333333;
    font-size: 12px;
  }

  .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    row-gap: 50px;
    align-items: center;
  }

  .buttons-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    row-gap: 50px;
    align-items: center;
  }
}
